* {
    margin: 10;
    padding: 10;

  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size:40px;
    font-weight: bold;
    color: #030301;
    margin-bottom: 10px;
    border-style: solid;
    background-color: white;
 
  }
  
  h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10%;

  }

  ul {
    list-style: none;
    margin-bottom: 10px;
 
  }
  
  li {
    margin-bottom: 5px;
  }
  

  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin-bottom: 10px;
    background-color: wheat;
  }


  article {
    background-color: wheat;
  }

  
  
  
  
