* {
    margin: 20;
    padding: 20;

  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #C6FFDD;  /* fallback for old browsers */
    margin: 10px;
    ;
  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size:40px;
    font-weight: bold;
    color: #030301;
    margin-bottom: 10px;
    border-style: solid;
    background-color: white;
 
  }
  
  h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10%;

  }



  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin: 10px;
    background-color: wheat;
  }


  article {
    background-color: wheat;
  }

  img {
    border-radius: 50%;
    background-color: white;
    border-style: double;
  }

  
  
  
  
