* {
    margin: 20;
    padding: 20;

  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #C6FFDD;
    margin: 20px;
    ;
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold;
    color: #C6FFDD;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  h2 {
    font-size:40px;
    font-weight: bold;
    color: #030301;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: dashed;
    background-color: white;
 
  }
  
  h3 {
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  header {
    background-color: white;
  }
  

  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin: 10px;
    background-color: wheat;
  }


  article {
    background-color: wheat;

  }

  img {
    border-radius: 100%;
    background-color: #C6FFDD;
    border-style: double;
    border-color: transparent;
    margin: 50px;
  }

  
  
  
  
